.header-bg {
    background: #131313 url("../../img/fundo.jpg") center top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    min-height: 420px;
}

#agendar .header-bg {
    background: #F2F2F7;
}

#agendar .header {
    background: var(--cor-13);
    position: relative;
    z-index: 1;
    width: 100%;
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    justify-content: space-around;
    overflow: hidden;
}

#agendar iframe {
    border: none;
    width: 100%;
    height: 100%;
    margin-top: -130px;
    z-index: 0;
    position: relative;
    overflow-y: scroll;
}

@media(max-width:800px) {
    #agendar .header {
        overflow: visible;
    }
    /*     #agendar iframe {
        margin-top: -150px;
    } */
}


/* @media(max-width:600px) {
    #agendar iframe {
        margin-top: -16px;
    }
}
 */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 20px;
}

.header-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.header-menu a {
    display: inline-block;
    padding: 16px 0px;
    position: relative;
}

.header-menu a::after {
    content: "";
    display: block;
    width: 0px;
    height: 2px;
    transition: 0.3s;
    margin-top: 4px;
    background-color: var(--cor-0);
    position: absolute;
}

.header-menu a:hover::after {
    width: 100%;
}

#btn-mobile {
    display: none;
}

@media(max-width:800px) {
    .header-bg {
        background-position-y: 90px;
    }
    .header {
        background: var(--cor-13);
    }
    .header-menu {
        position: absolute;
        width: 60%;
        top: 129px;
        right: 0;
        background-color: var(--cor-12);
        z-index: 1;
        height: 0px;
        display: block;
        transition: .6s;
        visibility: hidden;
        overflow-y: hidden;
    }
    .header-menu li {
        border-bottom: 2px solid rgba(51, 51, 51, 0.226);
    }
    .header-menu li:last-child {
        border: none;
        padding-bottom: 12px;
    }
    .header-menu a {
        width: 100%;
        padding: 16px;
        box-sizing: border-box;
    }
    .header-menu a::after {
        display: none;
    }
    .header-menu a:hover {
        color: #ffffffab;
    }
    #btn-mobile {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
        color: var(--cor-0);
    }
    #hamburguer {
        width: 24px;
        display: block;
        border-top: 2px solid;
        color: aliceblue;
    }
    #hamburguer::after,
    #hamburguer::before {
        content: "";
        display: block;
        width: 24px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        position: relative;
        transition: .3s;
    }
    /* btn fechar */
    nav.ativo .header-menu {
        height: calc(100vh - 129px);
        visibility: visible;
    }
    nav.ativo #hamburguer {
        border-top-color: transparent;
    }
    nav.ativo #hamburguer::before {
        transform: rotate(135deg);
    }
    nav.ativo #hamburguer::after {
        transform: rotate(-135deg);
        top: -7px;
    }
}